 <mat-toolbar color="primary">
      <span>Leave Management System</span>
      <nav>
        <a *appHasPermission="['employee' , 'admin']" mat-button routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
        <a *appHasPermission="['employee']" mat-button routerLink="/leave-requests" routerLinkActive="active-link">Leave Requests</a>
      </nav>
      <span class="spacer"></span>
      @if (isLoggedIn) {
        <button  mat-button (click)="logout()">
        <mat-icon>logout</mat-icon> Logout
      </button>
      }
      
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
    </main>